html {
  color: #000;
  background: #fff
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset, img {
  border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: 400
}

ol, ul {
  list-style: none
}

caption, th {
  text-align: left
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400
}

q:after, q:before {
  content: ""
}

abbr, acronym {
  border: 0;
  font-variant: normal
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%
}

legend {
  color: #000
}

#yui3-css-stamp.cssreset {
  display: none
}

ul {
  list-style-type: none
}

input, select, textarea {
  border: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

input::-ms-expand, select::-ms-expand {
  display: none
}

input[type=radio] {
  display: none
}

textarea {
  resize: none
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

img {
  width: 100%;
  vertical-align: middle
}

a {
  color: inherit;
  text-decoration: none
}

.l-footer {
  background-image: url(../../assets/images/footer.jpg);
  background-size: cover;
  padding: 390px 20px 20px;
  color: #fff
}

.l-footer__address {
  width: 400px
}

.l-footer__addressTxt1 {
  font-size: 20px;
  margin-bottom: 7px
}

.l-footer__addressTxt2 {
  font-size: 14px;
  margin-bottom: 7px
}

.l-footer__addressTxt3 {
  font-size: 21px
}

.l-footer__addressTxt3 span {
  font-size: 18px
}

.l-footer__flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto 30px
}

.l-footer__nav {
  width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.l-footer__navList {
  width: 33.33%
}

.l-footer__navLink {
  font-size: 12px
}

.l-footer__copy {
  text-align: center;
  font-size: 9px
}

@media screen and (max-width:959px) {
  .l-footer {
    text-align: center;
    padding: 250px 20px 10px
  }
  .l-footer, .l-footer__address, .l-footer__flex {
    width: 100%
  }
  .l-footer__nav {
    display: none
  }
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10
}

.l-header a:hover {
  opacity: .7
}

.l-header__top {
  width: 100%;
  background-color: #0b353f
}

.l-header__topInner {
  max-width: 1090px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 23px 15px
}

.l-header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.l-header__iconList {
  width: 27px
}

.l-header__iconLink {
  padding: 0 10px
}

.l-header__ttlLink {
  color: #fff;
  font-size: 20px
}

.l-header__language {
  margin-right: 10px
}

.l-header__languageTxt {
  position: relative;
  color: #fff;
  font-size: 13px;
  margin-right: 10px
}

.l-header__languageTxt:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  right: -16px;
  top: calc(50% - 9px);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.l-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 42px;
  border-bottom: 1px solid #b9b9b9;
  background-color: #fff
}

.l-header__navLink {
  padding: 5px 10px;
  font-size: 15px;
  margin-left: 19px
}

.l-header__nav li:first-child {
  margin-left: auto
}

.l-header__nav li:last-child {
  margin-right: auto
}

.l-header__humburger {
  display: none
}

.l-header__sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

@media screen and (max-width:959px) {
  .l-header {
    width: 100%
  }
  .l-header__icon, .l-header__nav {
    display: none
  }
  .l-header__ttlLink {
    font-size: 16px
  }
  .l-header__topInner {
    padding: 13px 65px 13px 20px
  }
}

@media screen and (max-width:767px) {
  .l-header__ttlLink {
    font-size: 10px
  }
}

a:hover {
  opacity: .6
}

.l-main {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto
}

.c-contents {
  padding: 25px 0
}

.c-contents__ttl {
  text-align: center;
  margin-bottom: 20px
}

.c-contents__en {
  font-size: 26px
}

.c-contents__jp {
  font-size: 15px
}

.c-contents__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.c-contents__itemList {
  width: 33.33%;
  padding: 0 25px;
  margin-bottom: 20px
}

.c-contents__all {
  display: block;
  width: 150px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  line-height: 44px
}

.c-contents span {
  color: red
}

.c-contents__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

@media screen and (max-width:1024px) {
  .c-contents__flex {
    display: block
  }
}

@media screen and (max-width:767px) {
  .c-contents__item {
    display: block
  }
  .c-contents__itemList {
    width: 100%;
    padding: 0;
    margin-bottom: 20px
  }
  .c-contents__itemImg {
    width: 30%;
    max-height: 120px;
    -o-object-fit: cover;
    object-fit: cover
  }
  .c-contents__itemLink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .c-contents__all {
    border: 1px solid #000
  }
}

.p-about {
  color: #fff
}

.p-event {
  background-color: #dfcdb1;
  margin: 0 15px
}

.p-event__itemTxt1 {
  color: #fff
}

@media screen and (max-width:767px) {
  .p-event {
    background-color: #fff
  }
  .p-event__sp {
    width: 70%;
    background-color: #dfcdb1;
    padding: 20px 15px
  }
}

.sponly {
  display: none
}

@media screen and (max-width:767px) {
  .sponly {
    display: block
  }
  .p-guide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center
  }
  .p-guide__list {
    width: 50%;
    padding: 10px 0
  }
  .p-guide li:first-child {
    border-right: 1px solid #000
  }
  .p-guide li:first-child, .p-guide li:nth-child(2) {
    border-bottom: 1px solid #000
  }
  .p-guide li:nth-child(3) {
    border-right: 1px solid #000
  }
  .p-guide li:last-child, .p-guide li:nth-child(3) {
    border-bottom: 1px solid #dadada
  }
}

.p-hero {
  margin-top: 145px
}

.p-hero__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.p-hero__side {
  width: 30%;
  padding: 0 15px
}

.p-hero__time {
  background-color: #f2ebe0;
  padding: 15px 20px;
  text-align: center;
  margin-bottom: 15px
}

.p-hero__today {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px
}

.p-hero__open {
  position: relative;
  font-size: 30px;
  margin-bottom: 10px;
  padding-bottom: 5px
}

.p-hero__open:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-bottom: 2px solid #0f3640;
  border-right: 2px solid #0f3640;
  left: calc(50% - 8px);
  bottom: -5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.p-hero__close {
  font-size: 30px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 5px
}

.p-hero__timeList {
  font-size: 14px
}

.p-hero__search {
  background-color: #f2ebe0;
  padding: 10px 20px;
  text-align: center
}

.p-hero__searchTtl {
  font-size: 19px
}

.p-hero__button {
  cursor: pointer
}

.p-hero input[type=text] {
  font-size: 12px;
  border: 1px solid #0f3640;
  width: calc(100% - 40px);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 2px 8px;
  background-color: #fff
}

.p-hero input[type=submit] {
  position: relative;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-indent: 110%;
  overflow: hidden;
  background-image: url(../../assets/images/search.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-color: #0f3640;
  background-position: 50%
}

.p-hero__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 5px 0
}

.p-hero__selectImg {
  width: 45px
}

.p-hero__selectTxt {
  font-size: 13px
}

.p-hero__selectList {
  background-color: #fff;
  width: calc(50% - 4px);
  min-height: 100px;
  padding: 20px 0;
  margin-top: 8px
}

.p-hero__selectList:last-child {
  padding: 10px 0
}

.p-hero__selectList:hover {
  background-color: #fff8e9
}

@media screen and (max-width:959px) {
  .p-hero {
    margin-top: 70px
  }
  .p-hero__flex {
    display: block
  }
  .p-hero__side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px
  }
  .p-hero__time {
    width: 40%;
    margin-right: 25px;
    margin-bottom: 0
  }
  .p-hero__search {
    width: 60%
  }
}

@media screen and (max-width:767px) {
  .p-hero__side {
    display: block
  }
  .p-hero__time {
    width: 100%
  }
  .p-hero__search {
    width: 100%;
    margin-top: 20px
  }
}

.p-home-bg {
  display: block;
  height: 300px;
  background-image: url(../../assets/images/sea.jpg);
  background-size: cover
}

.p-home-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.p-humburger__box {
  width: 45px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer
}

.p-humburger__toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 2rem;
  height: 1.8rem
}

.p-humburger__toggle i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  -o-transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s
}

.p-humburger__toggle i:first-child {
  top: 0
}

.p-humburger__toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto
}

.p-humburger__toggle i:nth-child(3) {
  bottom: 0
}

.p-humburger {
  display: none;
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 54px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5)
}

.p-humburger__inner {
  max-width: 80%;
  height: 100vh;
  padding-bottom: 100px;
  overflow-y: scroll;
  background-color: #fff;
  margin-left: auto
}

.p-humburger__navList {
  border-bottom: 1px solid #000
}

.p-humburger__navLink {
  display: block;
  padding: 10px;
  font-size: 14px
}

.p-humburger__languageTxt {
  padding: 10px
}

.p-humburger__languageList {
  padding: 10px 0 10px 30px
}

.p-humburger__jp {
  color: #c09318
}

.p-humburger__instagram, .p-humburger__time, .p-humburger__twitter {
  padding: 10px
}

.p-humburger a:hover {
  color: #ffc56d
}

@media screen and (min-width:960px) {
  .p-humburger__box {
    display: none
  }
}

@media screen and (max-width:959px) {
  .p-humburger__close {
    position: relative;
    width: 75px;
    height: 75px;
    background-color: #643a00;
    border-radius: 50%;
    margin: 30px auto 0;
    cursor: pointer
  }
  .p-humburger__toggleClose {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    width: 2.5rem;
    height: 2rem
  }
  .p-humburger__toggleClose i {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: opacity .5s, -webkit-transform .5s;
    transition: opacity .5s, -webkit-transform .5s;
    -o-transition: transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s;
    transition: transform .5s, opacity .5s, -webkit-transform .5s
  }
  .p-humburger .p-humburger__toggleClose i:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px
  }
  .p-humburger .p-humburger__toggleClose i:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 15px
  }
  .close i:first-child {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 15px
  }
  .close i:nth-child(2) {
    opacity: 0
  }
  .close i:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 15px
  }
}

.p-important {
  display: block;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 0 15px
}

.p-important__box {
  border: 1px solid #000;
  text-align: center;
  padding: 14px;
  margin-bottom: 15px
}

.p-important__sp {
  display: none
}

.p-important__txt {
  margin-bottom: 15px;
  font-size: 19px
}

.p-important__link {
  text-decoration: underline;
  font-size: 17px
}

@media screen and (max-width:767px) {
  .p-important__sp {
    display: block
  }
  .p-important__pc {
    display: none
  }
}

.p-information {
  width: 50%;
  padding-right: 25px;
  padding-left: 15px
}

.p-information__itemList {
  border-bottom: 1px solid #000;
  padding: 15px 10px;
  font-size: 15px
}

.p-information__all {
  border: 1px solid #000;
  margin-top: 30px
}

@media screen and (max-width:1024px) {
  .p-information {
    width: 100%;
    padding-right: 15px
  }
}

.p-instagram {
  width: 50%;
  padding-right: 15px;
  padding-left: 25px
}

.p-instagram__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.p-instagram__itemList {
  width: 33.33%;
  padding: 3px
}

.p-instagram__all {
  border: 1px solid #000;
  margin-top: 30px
}

@media screen and (max-width:1024px) {
  .p-instagram {
    width: 100%;
    padding-left: 15px
  }
  .p-instagram__itemImg {
    max-width: 350px
  }
}

@media screen and (max-width:959px) {
  .p-instagram {
    padding-top: 0
  }
}

.p-more__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}

.p-more__itemList {
  width: 33.33%;
  padding: 13px 25px
}

.p-more__itemTxt {
  display: block;
  color: #fff;
  background-color: #0f3640;
  height: 74px;
  padding: 13px 20px;
  font-size: clamp(14px, 1.5vw, 17px)
}

@media screen and (max-width:767px) {
  .p-more__item {
    padding: 0 15px
  }
  .p-more__itemTxt {
    height: 60px;
    padding: 9px 5px;
    font-size: clamp(12px, 1vw, 14px)
  }
  .p-more__itemList {
    width: 50%;
    padding: 5px
  }
}

.p-news {
  background-color: #f2ebe0;
  margin: 0 15px
}

.p-news__itemTxt1 {
  color: #bf9c64;
  margin-top: 5px
}

@media screen and (max-width:767px) {
  .p-news {
    background-color: #fff
  }
  .p-news__sp {
    width: 70%;
    background-color: #f2ebe0;
    padding: 20px 15px
  }
}

.sliderArea {
  max-width: 70%;
  padding-left: 15px
}

.sliderArea.w300 {
  max-width: 300px
}

.slick-slide {
  margin: 0 5px
}

.slick-slide img {
  width: 100%;
  height: auto
}

.slick-next, .slick-prev {
  z-index: 1
}

.slick-next:before, .slick-prev:before {
  color: #000
}

.slick-slide {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: .2
}

.slick-active, .slick-current {
  opacity: 1
}

.thumb {
  margin: 20px 0 0
}

.thumb .slick-slide {
  cursor: pointer
}

.thumb .slick-slide:hover {
  opacity: .7
}

@media screen and (max-width:959px) {
  .sliderArea {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0
  }
}

.u-hidden {
  display: none!important
}

@media print, screen and (max-width:768px) {
  .u-hidden-sp {
    display: none!important
  }
}

@media null {
  .u-hidden-pc {
    display: none!important
  }
}

.u-mb-10 {
  margin-bottom: 10px!important
}
